<div id="message-component">
    <div class="message-wrapper">
        <p>Bla</p>
        {{#each successMessages as |msg|}}
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" {{action 'hide'}}>
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <p><strong>Eintrag wurde erfolgreich gespeichert!</strong></p>
        </div>
        {{/each}}
        {{#each errorMessages as |msg|}}
          <div class="alert alert-danger" role="alert">
            <button type="button" class="close" {{action 'hide' msg}}>
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <p><strong>Eintrag konnte nicht gespeichert werden!</strong></p>
            <p><span class="errorMessage"> {{msg}}</span></p>
          </div>
        {{/each}}
    </div><!-- /.messageWrapper -->
</div><!-- /#messageview -->