<div id="message-component">
    {{#if successMessages}}
        <p class="text-success">
            <p><strong>Eintrag wurde erfolgreich gespeichert!</strong></p>
            {{#each successMessages as |msg|}}
                <button type="button" class="close" {{action 'hideSuccessMessage' msg}}>
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <p class="successMessage">{{msg}}</p>
            {{/each}}
        </p>
    {{/if}}
    {{#if errorMessages}}
        <p class="text-danger">
            <p><strong>Eintrag konnte nicht gespeichert werden!</strong></p>
            {{#each errorMessages as |msg|}}
                <button type="button" class="close" {{action 'hideErrorMessage' msg}}>
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <p class="errorMessage"> {{msg}}</p>
            {{/each}}
        </p>
    {{/if}}
</div><!-- /#messageview -->