<div class="panel panel-default">
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table id="running-dataTables" class="table table-striped table-bordered table-hover"></table>
        </div><!-- /.table-responsive -->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->