<ul class="nav in" id="side-menu">
    <li>
        {{#link-to 'index'}}<i class="fa fa-home fa-fw"></i> Start{{/link-to}}
    </li>
    {{#unless loggedInUser.isLoggedIn}}
        <li>
            {{#link-to 'login'}}<i class="fa fa-sign-in fa-fw"></i> Anmelden{{/link-to}}
        </li>
    {{else}}
        <li>
            <a href="#" class="active"><i class="fa fa-files-o fa-fw"></i> Radfahren<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    {{#link-to 'cycling.list'}}<i class="fa fa-list fa-fw"></i> Einträge{{/link-to}}
                    {{#link-to 'cycling.new'}}<i class="fa fa-plus fa-fw"></i> Neuer Eintrag{{/link-to}}
                    {{#link-to 'cycling.statistic'}}<i class="fa fa-plus fa-fw"></i> Statistik{{/link-to}}
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-files-o fa-fw"></i> Laufen<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    {{#link-to 'running.list' }}<i class="fa fa-list fa-fw"></i> Einträge{{/link-to}}
                    {{#link-to 'running.new'}}<i class="fa fa-plus fa-fw"></i> Neuer Eintrag{{/link-to}}
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    {{/unless}}
</ul>