#cycling-container {
    padding-top: 20px;
}

#cycling-new, #cycling-details {
    padding: 0px 10px 0px 10px;

    .cycling-toolbar {
        position: relative;

        .btn {
            right: 10px;
            position: relative;
            float: right;
            margin-right: 10px;
        }
    }
}

#cycling-chart {
    .nav {
        padding-bottom: 10px;
    }
}

#cycling-statistics {
    #overall-statistic {
        ul li {
            display:inline;
        }
    }

    .top-three-statistic {
        th, td {
            text-align: center;
        }
    }
}
