#running-new, #running-details {
    padding: 0px 10px 0px 10px;

    .running-toolbar {
        position: relative;

        .btn {
            right: 10px;
            position: relative;
            float: right;
            margin-right: 10px;
        }
    }
}