<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SAL - Sport Activity Log</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            {{#if loggedInUser.isLoggedIn}}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <button {{action 'logout'}}type="button" class="btn btn-link"><i class="fa fa-sign-out fa-fw"></i> Abmelden</button>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            {{/if}}
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        {{#link-to 'index'}}<i class="fa fa-home fa-fw"></i> Start{{/link-to}}
                    </li>
                    {{#unless loggedInUser.isLoggedIn}}
                        <li>
                            {{#link-to 'login'}}<i class="fa fa-sign-in fa-fw"></i> Anmelden{{/link-to}}
                        </li>
                    {{else}}
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Radfahren<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    {{#link-to 'cycling.list'}}<i class="fa fa-list fa-fw"></i> Einträge{{/link-to}}
                                    {{#link-to 'cycling.new'}}<i class="fa fa-plus fa-fw"></i> Neuer Eintrag{{/link-to}}
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Laufen<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    {{#link-to 'running.list' }}<i class="fa fa-list fa-fw"></i> Einträge{{/link-to}}
                                    {{#link-to 'running.new'}}<i class="fa fa-plus fa-fw"></i> Neuer Eintrag{{/link-to}}
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    {{/unless}}
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        {{outlet}}
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->