<div id="loading" class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Daten werden geladen</h2>
            <p>Bitte warten</p>
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
    </div>
</div>