<div id="error" class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3><i class="fa fa-exclamation-circle"></i> Ein Fehler ist aufgetreten</h3>
            <h4>Die Anfrage konnte nicht vom Server bearbeitet werden.</h4>
        </div>
    </div>
</div>